export(
read_dart, make_dart_2row, dart_combine,

refine_IBS, match_IBS, 
refine_CDS, match_CDS, 
marker_positions,

group_dend, nngb_dist, self_dist, other_dist,
split_groups, lump_similar, var_groups
)

S3method(show, darter)
S3method(print, darter)
S3method(head, darter)
